
<div class="col-12 mt-5">
    <div class="row ">
        <div class="col-md-6 mx-auto mt-5 p-5 c">
            <h3 class="font">4TH SENA FILM FESTIVAL</h3>
            <h4 class="font3">Centro de Gestión de Mercados, Logística</h4>
            <h4 class="font3">y Tecnologías de la Información</h4>
            <h4 class="font3">Calle 52 # 13 - 65 Bogotá - Colombia</h4>
            <h4 class="font3">Regional Distrito Capital – SENA</h4>
        </div>
        <div class="col-sm-12 col-md-6 mx-auto ">
            <div class="col-sm-12 col-md-12 mx-auto c ">
                <div class="col-md-11 mx-auto p-5 c ">
                    <h4 class="font">More information:</h4>
                    <h5 class="font3">E-mail: senafilmfestivaldc@sena.edu.co</h5>
                    <h5 class="font3">Phone: 5461600 ext 16906</h5>
                    <h5 class="font3">Social Media:</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 mx-auto mb-5 c ">
                <div class="row">
                    <div class="col-sm-4 col-md-2 mx-auto">
                        <a href="https://www.facebook.com/profile.php?id=100071292372521" target="_blank">
                            <img src="static/img/icons/facebook.png" class="imgred2 " alt="LOGO" />
                        </a>
                    </div>

                    <div class="col-sm-4 col-md-2 mx-auto">
                        <a href="https://www.instagram.com/senafilmfestival/" target="_blank">
                            <img src="static/img/icons/instagram.png" class="imgred2" alt="LOGO" />
                        </a>
                    </div>

                    <div class="col-sm-4 col-md-2 mx-auto">
                        <a href="https://twitter.com/senafilmfestiva" target="_blank">
                            <img src="static/img/icons/twiter.png" class="imgred2" alt="LOGO" />
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-2 mx-auto c">
                        <a href="https://www.tiktok.com/@senafilmfestival?lang=es" target="_blank">
                            <img src="static/img/icons/tiktok.png" class="imgred2" alt="LOGO" />
                        </a>
                    </div>

                    <div class="col-sm-6 col-md-2 mx-auto c">
                        <a href="https://www.youtube.com/@senafilmfestival6330" target="_blank">
                            <img src="static/img/icons/youtube.png" class="imgred2" alt="LOGO" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
