<nav class="navbar bg-dark navbar-dark navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/category">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/previous">Versiones Anteriores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ganadores">Ganadores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
