{% extends 'layout.html' %}

{% block content %}


<div class="col-12 mx-auto">
    {% include 'partials/navbar2.html' %}
</div>


<div class="fixed-background">
    <div class="col-11 mx-auto">

        <h2 class="mb-4 c">BASE Y REGLAS</h2>

        <h5 class="mb-5">La base principal de participación en el Festival es la inclusión del idioma inglés, bien sea en su audio, doblaje y subtitulación. Asimismo, los participantes deben ser aprendices activos SENA, en etapa lectiva o productiva.</h5>
        

        <h2 class="mb-4 c">TERMINOS Y CONDICIONES DE PARTICIPACION</h2>

        <h5>Los interesados deberán inscribirse en el siguiente link: https://docs.google.com/forms/d/e/1FAIpQLSeuuQAFHhfV5IiOE_DhKq1o9vGcjN6pgmNZPoz4JInOd Huc2Q/viewf orm 4 5 DO-F-012 V.05</h5>
        <h5>En el evento pueden participar aprendices (etapa lectiva y/o productiva) de cualquier centro a nivel nacional.</h5>
        <h5>Los vídeos deben tener buena calidad (resolución y audio). </h5>
        <h5>El uso de la lengua extranjera debe cumplir las condiciones en cada una de las categorías. (Ver sección categorías) </h5>
        <h5>Los vídeo enviados deben pasar por un proceso de pre selección antes de ser seleccionados para participar en el evento. </h5>
        <h5>El enlace del vídeo debe ser enviado en el formulario de inscripción. </h5>
        <h5 class="mb-5">No se reciben vídeos por fuera del tiempo de inscripción ni por otro medio distinto al formulario.</h5>

        
        <h2 class="mb-5 c">CONDICIONES DEL PRODUCTO AUDIOVISUAL</h2>

        <h5>El género del producto audiovisual puede ser: comedia, drama, acción, thriller, ciencia ficción. </h5>
        <h5>No se aceptarán vídeos que incluyan material violento, sexual o discriminatorio por motivos de raza, género o religión. </h5>
        <h5 class="mb-5">Los productos deben cumplir con las condiciones de acuerdo a cada categoría.</h5>


        <h2 class="mb-5 c">CATEGORÍAS</h2>

        <div class="row">
            <div class="col-md-12 col-lg-6 mt-3 mb-4 p-5">
                <h3 class="mt-3 p-2 filmtxt">Animación 2D y 3D</h3>
                <div class="col-11 mx-auto pb-5">
                    <p class="filmtxt p-2">Realización de un proyecto audiovisual en 2D o 3D, sin límite de tiempo en su duración. El proyecto puede ser doblado o subtitulado al inglés. </p>
                </div>            
            </div>

            <div class="col-md-12 col-lg-6 mt-3 mb-4 p-5">
                <h3 class="mt-3 p-2 filmtxt">Filminuto Amateur</h3>
                <div class="col-11 mx-auto pb-5">
                    <p class="filmtxt p-2">Realización de un proyecto audiovisual de un minuto de duración. Máximo 10 segundos por encima o 10 por debajo SIN CONTAR LA DURACIÓN DE LOS CREDITOS. El proyecto puede ser presentado por cualquier aprendiz de cualquier programa titulado del SENA. El proyecto debe ser doblado o subtitulado al inglés.</p>
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 mt-3 p-5">
                <h3 class="mt-3 p-2 filmtxt">Filminuto Experto</h3>
                <div class="col-11 mx-auto pb-5">
                    <p class="filmtxt p-2">Realización de un proyecto audiovisual de un minuto de duración. Máximo 10 segundos por encima o 10 por debajo SIN CONTAR LA DURACIÓN DE LOS CREDITOS. La categoría está diseñada para que los aprendices de titulaciones que se desarrollen en el campo del desarrollo audiovisual participen y demuestren sus habilidades por medio de su participación. El proyecto debe ser doblado o subtitulado al inglés. </p>

                </div>            
            </div>

            <div class="col-md-12 col-lg-6 mt-3 p-5">
                <h3 class="mt-3 p-2 filmtxt">Cortometraje Subtitulado</h3>
                <div class="col-11 mx-auto pb-5">
                    <p class="filmtxt p-2">Realización de un proyecto audiovisual de más de un minuto de duración. La categoría tiene como objetivo fomentar la participación de los aprendices que hayan cursado un programa titulado en el área del desarrollo audiovisual, y quieran dar a conocer sus proyectos ante la comunidad SENA. El corto debe cumplir con normas de subtitulación de acuerdo a estándares internacionales.</p>
                </div>            
            </div>
        </div>

    </div>

    <div class="fixed-wrap">
        <div class="fixed"></div>
    </div>
</div>

{% endblock %}
