{% extends 'layout.html' %}

{% block content %}

<div class="col-12 mx-auto">
    {% include 'partials/navbar4.html' %}
</div>

<div class="fixed-background">
    <div class="col-12 mx-auto">

        <div class="col-11 mx-auto mt-5 mb-5">

            <h2 class="mb-5 c">GANADORES</h2>

            <h3 class="mb-3">IV FESTIVAL</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-2D Animation-Invasion with discretion.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">INVASION WITH DISCRETION</h5>
                                    <p class="card-text">Ganador en la categoria Animacion 2D - 4TH SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-3D Animation-La armadura del heroe.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">LA ARMADURA DEL HEROE</h5>
                                    <p class="card-text">Ganador en la categoria Animacion 3D - 4TH SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Amateur Filminute-Sueno o Realidad.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">SUEÑO O REALIDAD</h5>
                                    <p class="card-text">Ganador en la categoria Filminute Amateur - 4TH SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-The Facts.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">THE FACTS</h5>
                                    <p class="card-text">Ganador en la categoria Filminute Expert - 4TH SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Subtitled Shortfilm-La Inocente Sara.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">LA MINOCENTE SARA</h5>
                                    <p class="card-text">Ganador en la categoria Subtitled Shortfilm - 4TH SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <hr>

            <h3 class="mb-3">III FESTIVAL</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/EvKL72xZ3WY?si=S0HI3Cuig0MyGJSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">AETHER: ENTRE DIMENSIONES</h5>
                                    <p class="card-text">Ganador en la categoria Corto Subtitulado - 3rd SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/3FsfAXTOMMM?si=3ONTdCBvZ48aDn3r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">DAILY</h5>
                                    <p class="card-text">Ganador en la categoria Filminuto - 3rd SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/QpWx8--9J0w?si=o87jufgVSF0vj8rV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">DARK MELODY</h5>
                                    <p class="card-text">Ganador en la categoria Animacion 3D - 3rd SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <h3 class="mb-3">II FESTIVAL</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/msO1LUY6CoQ?si=6xMTA42A1RWi5p3a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">2SFF - 3D ANIMATION - DEATH GRANNY</h5>
                                    <p class="card-text">Gaganador en la categoría 3D ANIMATION - 2nd SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/Sg7OBXhWjWs?si=cNSfVrbv10tR8sxW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">2SFF - FILMINUTE - DROPS</h5>
                                    <p class="card-text">Ganador en la categoria Filminuto - 2nd SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/DSWZIygv30s?si=El2HE-OK6gSJIfOi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">2SFF - SUBTITLED SHORTFILM - PERFIDIA</h5>
                                    <p class="card-text">PERFIDIA, ganador en la categoría SUBTITLED SHORTFILM - 2nd SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="mb-3">I FESTIVAL</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/tQwA_kXfaAc?si=Wqmsynzt7bXhdRw3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">1SFF - 3D ANIMATION - THE SEED</h5>
                                    <p class="card-text">Ganador en la categoría 3D ANIMATION - 1st SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/8TB7MddJ6so?si=yv-Ev5_P7Bw7x_OO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">1SFF - FILMINUTE - ENGLISH REQUIRED</h5>    
                                    <p class="card-text">Ganador en la categoria Filminuto - 1st SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/voDQG_BNf1Y?si=7mdXXevDcInSLxmk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">1SFF - DOCUMENTAL - LA POBLACIÓN DEL OLVIDO (SUBTITULADO)</h5>      
                                    <p class="card-text">PERFIDIA, ganador en la categoría SUBTITLED SHORTFILM - 1st SENA Film Festival.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="fixed-wrap">
        <div class="fixed"></div>
    </div>
</div>

{% endblock %}
