{% extends 'layout.html' %}

{% block content %}

<div class="col-12 mx-auto">
    {% include 'partials/navbar1.html' %}
</div>

    <div class="col-12 c">
        <img src="static/img/banner/4TH_SFF_Poster_Horizontal.gif" class="imgobj1" alt="Img">
    </div>

    <div class="fixed-background">
        <div class="">
            <div class="row ">
                <div class="col-md-5 mx-auto m-3 p-3 marco font1 c ">
                    <h2 class="counterdown font">Solo faltan:</h2>
                    <h1 id="demo" class="counterdown"></h1>
                    <h3 class="counterdown font">Para el cierre de inscripciones</h3>
                </div>
                <div class="col-md-5 mx-auto m-3 p-3 marco font1 c ">
                    <h2 class="counterdown font">Solo faltan:</h2>
                    <h1 id="demo2" class="counterdown"></h1>
                    <h3 class="counterdown font">Para el evento</h3>
                </div>
            </div>

            <div class="row inscback mt-5">
                <div class="col-md-4 mx-auto c">
                    <span id="surround">
                        <span id="initial"><img src="static/img/buttons/Inscripciones.png" class="imginsc mt-4 " alt="Img"></span>
                        <span id="onhover">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuuQAFHhfV5IiOE_DhKq1o9vGcjN6pgmNZPoz4JInOdHuc2Q/viewform">
                                <img src="static/img/buttons/Inscripciones1.png" class="imginsc mt-4 " alt="Img">
                            </a>
                        </span>
                    </span>
                </div>
                <div class="col-md-4 mx-auto p-5 inscback c">
                    <p class="m-3 just">Te retamos a inscribirte en esta 4ta edición del SENA Film Festival, preséntale al mundo tu talento y creatividad… </p>
                    <p class="m-3 just">Muestra de lo que estás hecho…</p>
                    <p class="m-3 just">Inscríbete antes de las 23:59 horas del 17 de septiembre del 2023. </p>
                </div>
                <div class="col-md-4 mx-auto c">
                    <span id="surround">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuuQAFHhfV5IiOE_DhKq1o9vGcjN6pgmNZPoz4JInOdHuc2Q/viewform">
                            <img src="static/img/buttons/4TH SFF - QR Formulario Inscripción (Claqueta Verde).png" class="imginsc1 mt-5" alt="Img">
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div>

    <div class="marco p-5">

            <div class="row ">
                <div class="col-lg-6 col-sm-12 mx-auto p-3 font just c ">
                    <h2 class="mb-4">SENA Film Festival</h2>
                    <p>El SENA Film Festival es una iniciativa de la Coordinación de Bilingüismo e Industrias Creativas del Centro de Gestión de Mercados, Logística y Tecnologías de la Información, el cual se lleva a cabo en el marco de la Semana de los Idiomas. El festival tiene como principal objetivo promover y motivar el uso de una lengua extranjera en productos audiovisuales que evidencien la creatividad y talento de los aprendices SENA.</p>
                    <p>En esta cuarta versión del festival, los aprendices en etapas lectiva o productiva pueden inscribir sus productos en las categorías: Animación 2D y 3D, Filminuto Aficionado o Experto y Corto Subtitulado.</p>
                </div>
                <div class="col-lg-6 col-sm-12 mx-auto p-3 font1 c ">
                    <video class="mt-5" width="100%" height="auto" controls>
                        <source src="static/video/4TH SFF - Spot-1.mp4" class="vid" type="video/mp4">
                    </video>
                </div>
            </div>

        <div class="col-lg-12 col-sm-11 mx-auto pb-5 font c just">
            <p>The SENA Film Festival is a CGMLTI’s English and Creative Industries department initiative and it takes place as a part of the Languages week. The festival main aim is promoting and encourage a second language use in media products that show SENA students creativity and talent. </p>
            <p>In this festival’s 4th versión current or intership students may register their products in the following categories: 2D and 3D animation, Filminute amateur or expert and subtitled short film. </p>
        </div>
    </div>

    <div class="fixed-background">
        <div class="container">
            <div class="row ">
                <div class="col-md-5 mx-auto c ">
                    <img src="static/img/img/4TH_SFF_Poster_Vertical.jpg" class="imginsc2" alt="Img">
                </div>
                <div class="col-md-5 mx-auto p-3 pt-5 c inscback">
                    <h1 class="pt-5 p-3">OBJETIVO DEL FESTIVAL</h1>
                    <p> Diseñar y proyectar un producto audiovisual que contemple el uso de una
                        lengua extranjera, tanto en subtitulo como en audio, con el fin de fortalecer y
                        evidenciar las habilidades comunicativas de los aprendices SENA en el manejo de
                        distintos idiomas.
                    </p>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div>

    <div class="marco p-3">
        <div class="container">
        <div class="row ">
            <div class="col-md-6 mx-auto mb-5 px-4 p-3 ">
                <h2 class="mt-5 c">PÚBLICO OBJETIVO DEL EVENTO</h2>
                <p>Para las categorías de Animación 2D y 3D, Filminuto Experto y Corto Subtitulado, pueden participar aprendices SENA en etapa lectiva y productiva de los siguientes programas de formación:</p>
                <ul>
                    <li>Producción de Medios Audiovisuales</li>
                    <li>Animación 3D</li>
                    <li>Animación Digital</li>
                    <li>Producción Multimedia</li>
                    <li>Cámara y Fotografía</li>
                </ul>
                <p>(Para la categoría Filminuto Aficionado, pueden participar aprendices de cualquier Programa de Formación SENA a nivel nacional).</p>
            </div>
            <div class="col-md-6 mx-auto mb-5 pt-4 c ">
                <img src="static/img/img/4TH_SFF_Tv_(Categorias).png" class="imginsc3 mt-5 pt-3" alt="Img">
            </div>
        </div>
    </div>
</div>

    <div class="fixed-background">
        <div class="">
            <h1 class="pt-3 c">TEAM 4TH SENA FILM FESTIVAL</h1>
            <div class="col-11 mx-auto mt-3">
                <div class="row">
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Diana Galán </strong></h3>
                        <h5><strong>Cargo:</strong> Profesional Area de Bilingüismo</h5>
                        <h5><strong>Email:</strong> dgalanv@sena.edu.co</h5>
                        <h5><strong>Celular:</strong> 318 380 2396</h5>
                    </div>
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Natalia Báez </strong></h3>
                        <h5><strong>Cargo:</strong> Instructora líder del festival</h5>
                        <h5><strong>Email:</strong> nbaezr@sena.edu.co</h5>
                        <h5><strong>Celular:</strong> 312 388 1216</h5>
                    </div>
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Felipe Isaza </strong></h3>
                        <h5><strong>Cargo:</strong> Instructor líder de la InHouse 52</h5>
                        <h5><strong>Email:</strong> fisaza@sena.edu.co</h5>
                        <h5><strong>Celular:</strong> 315 274 2450</h5>
                    </div>
                </div>
            </div>

            <div class="col-11 mx-auto mt-3">
                <div class="row">
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Paula Poveda</strong></h3>
                        <h4>Diseño Gráfico</h4>
                    </div>
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Valentina Camargo</strong></h3>
                        <h4>Diseño Web</h4>
                    </div>
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Yennifer Niño</strong></h3>
                        <h4>Diseño Web</h4>
                    </div>
                    <div class="col-md-3 mx-auto font2 c">
                        <h3 class="mt-3"><strong>Gabriel Masutier</strong></h3>
                        <h4>Desarrollo Web</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div>

{% endblock %}
