{% extends 'layout.html' %}

{% block content %}


<div class="col-12 mx-auto">
    {% include 'partials/navbar3.html' %}
</div>

<div class="fixed-background">

    <div class="col-12 mx-auto">

        <div class="col-11 mx-auto mb-5">

            <h2 class="mb-5 c">PARTICIPANTES EN VERSIONES PREVIAS</h2>

            <div class="col-12 mx-auto">
                <div class="row">
                    <div class="col-3 mx-auto">
                        <img src="static/img/img/3ER_SFF_POSTER.jpg" class="imginsc mt-4 " alt="Img">
                    </div>

                    <div class="col-8 mx-auto p-3 ">
                        <h3 class="mb-3">III FESTIVAL - Corto Subtitulado</h3>
                        <div class="row row-cols-1 row-cols-md-3 g-4  mt-2">
                            <div class="col">
                                <div class="card h-100">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/EvKL72xZ3WY?si=HDHZt4O_VgNPSgXe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">AETHER: ENTRE DIMENSIONES 3RD SENA FILM FESTIVAL</h5>
                                        <p class="card-text">Ganador en la categoria Corto Subtitulado. - 3rd SENA Film Festival.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/eQG-4l72Ql8?si=0EEeu3xh82nw7Zz6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">PLEASURE MARKET 3RD SENA FILM FESTIVAL</h5>
                                        <p class="card-text">Selección oficial en la categoría Corto Subtitulado. - 3rd SENA Film Festival.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/2F8cR1YBdbw?si=7hqgoK8JOvE_u4Bv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">ROBBERY GAMES 3RD SENA FILM FESTIVAL</h5>
                                        <p class="card-text">Selección oficial en la categoría Corto Subtitulado. - 3rd SENA Film Festival.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-11 mx-auto">
                <h3 class="mb-3 mt-5">III FESTIVAL - Animación 3D</h3>
                <div class="row row-cols-1 row-cols-md-3 g-4  mt-2">
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/cNjH4_ecJOk?si=qJMepJ3zNCnMJ_2i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                                
                            <div class="card-body">
                                <h5 class="card-title">CATCH THE INFINITE 3RD SENA FILM FESTIVAL</h5>
                                <p class="card-text">Selección oficial en la categoría Animación 3D. - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/QpWx8--9J0w?si=HzCeVC9Fy2XTAv-6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                                
                            <div class="card-body">
                                <h5 class="card-title">DARK MELODY 3RD SENA FILM FESTIVAL</h5>
                                <p class="card-text">GANADOR EN LA CATEGORIA ANIMACIÓN 3D - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/cuouwGfSxE4?si=r7cxIqDlAp0d8c7o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                                
                            <div class="card-body">
                                <h5 class="card-title">PATOJITO 3RD SENA FILM FESTIVAL</h5>
                                <p class="card-text">Selección oficial en la categoría Animación 3D. - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-11 mx-auto mt-5">
                <h3 class="mb-3 mt-4">III FESTIVAL - Filminuto</h3>
                <div class="row row-cols-1 row-cols-md-4 g-4  mt-2">
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/UeCW4xqevIw?si=F2ZYCI4zY6P84ZEm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">EGO 3RD SENA FILM FESTIVAL</h5>
                                <p class="card-text">Selección oficial en la categoría Filminuto. - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/U4vog_7sLIc?si=TmUOra_vhW3l_Rlq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <div class="card-body">
                                <h5 class="card-title">MY WISH 3RD SENA FILM FESTIVAL</h5>
                                <p class="card-text">Selección oficial en la categoría Filminuto. - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/OAskWS2HSok?si=hF0b_e40oAgQvyxL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                                
                            <div class="card-body">
                                <h5 class="card-title">SUEÑO DE GRANDES 3RD SENA FILM FESTIVAL 2021</h5>
                                <p class="card-text">Selección oficial en la categoría Filminuto. - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/3FsfAXTOMMM?si=JsuRSHWpMKq40Ewu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>                                    
                            <div class="card-body">
                                <h5 class="card-title">DAILY 3RD SENA FILM FESTIVAL</h5>
                                <p class="card-text">GANADOR EN LA CATEGORIA FILMINUTO. - 3rd SENA Film Festival.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="fixed-wrap">
        <div class="fixed"></div>
    </div>

</div>
{% endblock %}
