{% extends 'layout.html' %}

{% block content %}

<div class="col-12 mx-auto">
    {% include 'partials/navbar5.html' %}
</div>

<div class="fixed-background">
    <div class="col-12 mx-auto">

        <div class="col-11 mx-auto mt-5 mb-5">

            <h2 class="mb-5 c">SELECTED VIDEOS</h2>

            <h3 class="mb-3">2D Animation</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=LIAWDiq4tlk&list=PL1EaWVm3gAvOmYa45t0xMiLeylSej02Vv&index=1" title="Audition" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">The Audition</h5>
                                    <p class="card-text">Directed by: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=IPZAqSBEJHQ&list=PL1EaWVm3gAvOmYa45t0xMiLeylSej02Vv&index=2" title="Muerto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Muerto</h5>
                                    <p class="card-text">Directed by: Ángel David Rodríguez Rodríguez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=TeboUwEPA4U&list=PL1EaWVm3gAvOmYa45t0xMiLeylSej02Vv&index=3" title="Kunakary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Kunakary la raíz perdida</h5>
                                    <p class="card-text">Directed by: John Edisson Aguirre Ríos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=ylVuitdQmVA&list=PL1EaWVm3gAvOmYa45t0xMiLeylSej02Vv&index=4" title="Invasion" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Invasion with discretion</h5>
                                    <p class="card-text">Directed by: Carlos David Osorio Gallego</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr>

            <h3 class="mb-3">3D Animation</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=QInQ1N52zA8&list=PL1EaWVm3gAvOrIV_vB-ZXNzF-DGmWSsIT" title="Tell" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Tell Tale Heart</h5>
                                    <p class="card-text">Directed by: Angelly Gabriela Salazar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=Nkhvt9KrFs8&list=PL1EaWVm3gAvOrIV_vB-ZXNzF-DGmWSsIT&index=2" title="Curiosity" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Curiosity killed hunger</h5>
                                    <p class="card-text">Directed by: Paula Carolina Duque Ruíz</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=DhJRWJ6vqfw&list=PL1EaWVm3gAvOrIV_vB-ZXNzF-DGmWSsIT&index=3" title="armadura" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">La armadura del héroe</h5>
                                    <p class="card-text">Directed by: Diana Salazar y Sergio Diaz</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr>

            <h3 class="mb-3">Amateur Filminute</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=SFhM_FR1fLE&list=PL1EaWVm3gAvOSRLvhLdbkugt_gJ552gi_" title="Sueño" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Sueño o Realidad</h5>
                                    <p class="card-text">Directed by: Andrés Felipe Chacón Martínez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=nA_atLZHafI&list=PL1EaWVm3gAvOSRLvhLdbkugt_gJ552gi_&index=2" title="Overthinking" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">My Overthinking</h5>
                                    <p class="card-text">Directed by: Angie Natalia Rondón Silva</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="mb-3">Expert Filminute</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=t6q2j65SxQQ&list=PL1EaWVm3gAvPp7b4x6fb25t771Cdu8T3Y" title="Facts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">The Facts</h5>
                                    <p class="card-text">Directed by: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=MEDYzFIYuz0&list=PL1EaWVm3gAvPp7b4x6fb25t771Cdu8T3Y&index=2" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Special gift</h5>    
                                    <p class="card-text">Directed by: Juan Sebastián Alzate Carrascal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=sRWgCgk9gCk&list=PL1EaWVm3gAvPp7b4x6fb25t771Cdu8T3Y&index=3" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">El día de mi muerte</h5>      
                                    <p class="card-text">Directed by: Jhonatan Hernández Garzón</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=_QUvwqTz_kY&list=PL1EaWVm3gAvPp7b4x6fb25t771Cdu8T3Y&index=4" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">En busca del tesoro</h5>
                                    <p class="card-text">Directed by: Diana Salazar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=PULuSvrKoGE&list=PL1EaWVm3gAvPp7b4x6fb25t771Cdu8T3Y&index=5" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">No man's land</h5>    
                                    <p class="card-text">Directed by: Cristian David</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=9eNKgs6lbuE&list=PL1EaWVm3gAvPp7b4x6fb25t771Cdu8T3Y&index=6" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Amalia</h5>      
                                    <p class="card-text">Directed by: Daniel Vargas Rocha</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="mb-3">Subtitled Shortfilm</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=DoFP7Kn7H2I&list=PL1EaWVm3gAvM3WTFbri21PCY3yF6DWURC" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">La Inocente Sara</h5>
                                    <p class="card-text">Directed by: Daniel Montes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=5dmFX9EUeYI&list=PL1EaWVm3gAvM3WTFbri21PCY3yF6DWURC&index=2" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">In search of the truth</h5>    
                                    <p class="card-text">Directed by: Kevin Duban García Sánchez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=qgHHXcPtBzY&list=PL1EaWVm3gAvM3WTFbri21PCY3yF6DWURC&index=3" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">La leyenda de Tsukimi</h5>      
                                    <p class="card-text">Directed by: Angie Gicell Acosta Morales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=uLm8Uj1X8fw&list=PL1EaWVm3gAvM3WTFbri21PCY3yF6DWURC&index=4" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Condena</h5>
                                    <p class="card-text">Directed by: Danna Camila Flórez Gómez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <iframe width="100%" height="auto" src="https://www.youtube.com/watch?v=EqgTjULwElU&list=PL1EaWVm3gAvM3WTFbri21PCY3yF6DWURC&index=5" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h5 class="card-title">Anhelo</h5>    
                                    <p class="card-text">Directed by: Santiago López Marantá</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="fixed-wrap">
        <div class="fixed"></div>
    </div>
</div>

{% endblock %}
