{% extends 'layout.html' %}

{% block content %}

<div class="col-12 mx-auto">
    {% include 'partials/navbar5.html' %}
</div>

<div class="fixed-background">
    <div class="col-12 mx-auto">

        <div class="col-11 mx-auto mt-5 mb-5">

            <h2 class="mb-5 c">SELECTED VIDEOS</h2>

            <h3 class="mb-3">2D Animation</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-2D Animation-The Audition.mp4" class="vid" type="video/mp4">
                                </video>

                                <div class="card-body">
                                    <h5 class="card-title">The Audition</h5>
                                    <p class="card-text">Directed by: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-2D Animation-Muerto.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Muerto</h5>
                                    <p class="card-text">Directed by: Ángel David Rodríguez Rodríguez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-2D Animation-Kunakary la raiz perdida.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Kunakary la raíz perdida</h5>
                                    <p class="card-text">Directed by: John Edisson Aguirre Ríos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-2D Animation-Invasion with discretion.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Invasion with discretion</h5>
                                    <p class="card-text">Directed by: Carlos David Osorio Gallego</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr>

            <h3 class="mb-3">3D Animation</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-3D Animation-Tell Tale Heart.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Tell Tale Heart</h5>
                                    <p class="card-text">Directed by: Angelly Gabriela Salazar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-3D Animation-Curiosity killed hunger.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Curiosity killed hunger</h5>
                                    <p class="card-text">Directed by: Paula Carolina Duque Ruíz</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-3D Animation-La armadura del heroe.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">La armadura del héroe</h5>
                                    <p class="card-text">Directed by: Diana Salazar y Sergio Diaz</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr>

            <h3 class="mb-3">Amateur Filminute</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Amateur Filminute-Sueno o Realidad.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Sueño o Realidad</h5>
                                    <p class="card-text">Directed by: Andrés Felipe Chacón Martínez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Amateur Filminute-My Overthinking.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">My Overthinking</h5>
                                    <p class="card-text">Directed by: Angie Natalia Rondón Silva</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="mb-3">Expert Filminute</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-The Facts.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">The Facts</h5>
                                    <p class="card-text">Directed by: Paula Lizbeth Sánchez Hidalgo</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-Special gift.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Special gift</h5>    
                                    <p class="card-text">Directed by: Juan Sebastián Alzate Carrascal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-El dia de mi muerte.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">El día de mi muerte</h5>      
                                    <p class="card-text">Directed by: Jhonatan Hernández Garzón</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-En busca del tesoro.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">En busca del tesoro</h5>
                                    <p class="card-text">Directed by: Diana Salazar</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-No mans land.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">No man's land</h5>    
                                    <p class="card-text">Directed by: Cristian David</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Expert Filminute-Amalia.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Amalia</h5>      
                                    <p class="card-text">Directed by: Daniel Vargas Rocha</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="mb-3">Subtitled Shortfilm</h3>
            <div class="col-12 mx-auto">

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Subtitled Shortfilm-La Inocente Sara.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">La Inocente Sara</h5>
                                    <p class="card-text">Directed by: Daniel Montes</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Subtitled Shortfilm-In search of the truth.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">In search of the truth</h5>    
                                    <p class="card-text">Directed by: Kevin Duban García Sánchez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Subtitled Shortfilm-La leyenda de Tsukimi.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">La leyenda de Tsukimi</h5>      
                                    <p class="card-text">Directed by: Angie Gicell Acosta Morales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 mx-auto p-3">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Subtitled Shortfilm-Condena.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Condena</h5>
                                    <p class="card-text">Directed by: Danna Camila Flórez Gómez</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <video class="mt-5" width="100%" height="auto" controls>
                                    <source src="static/video/selected/4th SFF-Subtitled Shortfilm-Anhelo.mp4" class="vid" type="video/mp4">
                                </video>
                                <div class="card-body">
                                    <h5 class="card-title">Anhelo</h5>    
                                    <p class="card-text">Directed by: Santiago López Marantá</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="fixed-wrap">
        <div class="fixed"></div>
    </div>
</div>

{% endblock %}
